#headers{
    width: 100%;
    background: url("../assets/img/header-bg.jpg") top center;
    background-size: cover;
}
ol, ul{
    padding:0px;
}
.portfolio #portfolio-flters{
    margin:0;
}

#portfolio #portfolio-flters li {
    background: rgb(249, 255, 254);
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: rgb(249, 255, 254);
}
#portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    font-family:  "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#portfolio #portfolio-flters li:hover {
    color: white;
    background: red;
}
#portfolio #portfolio-flters .filter-active {
    color: red;
    font-weight: bold;
}
#portfolio .portfolio-item .portfolio-caption{
    padding: 10px;
    background: rgba(255,255,255,0);
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
    font-size: 12pt;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
    font-size: 10pt;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(130, 130, 130, 0.4);
}