html,
body {
  min-height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.53)), url("../assets/img/bg-portal.jpg") fixed center center;
  background-size: cover;
}
@media(max-width: 576px){
  .row > * {
    width: 50%;
  }
}
.section-heading{
    color: #fff;
    font-size: medium;
    padding-top: 10px;
}
.kat{
    background: rgba(0, 0, 0, 0.6);
}
.logo-header{
    max-width: 50%;
}
@media(max-width: 1200px){
    .logo-header{
        max-width: 70%;
    }
}
@media(max-width: 992px){
    .logo-header{
        max-width: 100%;
    }
}
#portfolio{
    width: 100%;
    background-size: auto;
    padding: 0;
}
#portfolio #portfolio-flters{
    margin:0;
    list-style-type: none;
    padding: 10px 0px;
}

#portfolio #portfolio-flters li {
    background: rgb(249, 255, 254);
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: rgb(249, 255, 254);
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.1s ease-in-out;
    font-family:  "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#portfolio #portfolio-flters li:hover {
    color: white;
    font-weight: bold;
    background: red;
}
#portfolio #portfolio-flters .filter-active {
    color: red;
    font-weight: bold;
}
#portfolio .portfolio-item{
    margin-left: unset;
    margin-right: unset;
}

#portfolio .portfolio-item .portfolio-caption{
    padding: 10px;
    background: rgba(255,255,255,0);
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
    font-size: 12pt;
    color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
    font-size: 10pt;
    color: #aaa;
}
.popover{
  background: rgba(0,0,0,0);
  border: rgba(0,0,0,0);
}
.popover .popover-arrow{
  display: none;
}
.popover .popover-body{
  background: #3edaea;
  border-radius: 10px;
  max-width: 180px;
  text-align: center;
  color: #262626;
  font-size: 10pt;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media(max-width: 768px){
    #portfolio #portfolio-flters li{
      font-size: 10px;
    }
    .sticky-top{
      position: inherit;
    }
    #portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
        font-size: 8pt;
    }
    .popover .popover-body{
        max-width: 150px;
        font-size: 8pt;
    }
}
.info-bt{
  color: #fff;
  font-size: 14pt;
}
.info-bt:hover{
  color: rgba(6, 222, 245, 0.7);
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(130, 130, 130, 0.4);
}
.portfolio-link .img-fluid, .portfolio-link .portfolio-hover{
    border-radius: 20px;
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 20px;
  bottom: 20px;
  z-index: 996;
  background: #cc1616;
  width: 40px;
  height: 40px;
  color: #fff;
  transition: all 0.4s;
  border-radius: 50%
}
.back-to-top i {
  font-size: 28px;
  line-height: 0;
}
.back-to-top:hover {
  background: #e72323;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.survey {
  background: #a416cc;
  color: #fff;
  font-size: 9pt;
}
.survey i {
  font-size: 28px;
  line-height: 0;
}
.survey:hover {
  background: #03bfae;
  color: #fff;
}
.footer{
    bottom: 0;
    color: #fff;
}
